* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: calc(100%-40px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 82px;
}

.navbar {
    width: 100%;
    height: 80px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    position: fixed;
    top: 0;
}

.heading {
    flex: 2;
    justify-content: center;
    padding-left: 40px;
    color: white;
    cursor: pointer;
}

.cart {
    flex: 1;
    color: white;
    right: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.card-container {
    width: 100%;
    height: calc(100%-40px);
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.product-heading {
    color: darkgray;
}

.next-container {
    padding: 10px;
    height: 270px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.Box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}


.product-container {
    text-align: center;
    width: 250px;
    margin: 10px;
    box-shadow: 1px 1px 10px grey;

}

.product-container-cart {
    text-align: center;
    width: 400px;
    height: calc(100%-40px);
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    box-shadow: 1px 1px 10px grey;
    margin-left: 30%;
}

.producnt-img {
    width: 200px;
    height: 200px;
}

.botton-container {
    height: 40px;
}


button {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;

}

button:hover {
    background-color: azure;
    border: 1px solid gray;
}